.Markdown_flex {
    display: flex;
    column-gap: 16px;
    row-gap: 16px;
    word-break: break-all;

    .card {
        padding: 16px;
        border-radius: 16px;
        background: rgba($color: #fff, $alpha: 1);
        box-sizing: border-box;
    }

    .left {
        position: sticky;
        top: 16px;
        align-self: flex-start;
        z-index: 1;
        width: 320px;

    }

    .right {
        flex: 1;
    }

    .active {
        color: red !important;
    }

    @media screen and (max-width:960px) {
        flex-direction: column-reverse;

        .left {
            bottom: 0px;
            top: unset;
            align-self: stretch;
            box-shadow: 0 0px 5px rgba($color: #000, $alpha: .2);
            max-height: 30vh;
            overflow-y: scroll;
            width: 100%;
        }
    }
}