.BackToTop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 16px;
    bottom: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(#000, 0.1);
    cursor: pointer;

    .icon {
        font-size: 24px;
    }

    @media screen and (max-width:960px) {
        width: 32px;
        height: 32px;
        right: 8px;
        .icon {
            font-size: 16px;

        }
    }
}