.Markdown {
    .markdown_pre {
        position: relative;

        .code_copy_btn {
            position: absolute;
            font-size: 16px;
            color: #fff;
            right: 16px;
            top: 16px;
            cursor: pointer;

            &:hover {
                color: aqua;
            }
        }

        .code_wrapper {
            border-radius: 16px;
            overflow: auto;
            padding: 16px;
            background: #000;
            color: rgb(220, 220, 220);
        }
    }

    code {
        background: rgba(27, 31, 35, .05);
        padding: 2px 4px;
        border-radius: 3px;
        white-space: break-spaces !important;
    }

    p,
    ol,
    ul {
        line-height: 32px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 48px;
    }

}