@font-face {
  font-family: "iconfont"; /* Project id 2510778 */
  src: url('./iconfont.woff2?t=1675241317211') format('woff2'),
       url('./iconfont.woff?t=1675241317211') format('woff'),
       url('./iconfont.ttf?t=1675241317211') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e62d";
}

.icon-email:before {
  content: "\e638";
}

.icon-wechat:before {
  content: "\e629";
}

.icon-arrow-up:before {
  content: "\e83f";
}

.icon-github:before {
  content: "\e66f";
}

.icon-copy:before {
  content: "\ec7a";
}

.icon-gengduo:before {
  content: "\e630";
}

.icon-dianzan:before {
  content: "\e665";
}

.icon-wenzhang:before {
  content: "\e67d";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-home::before{
  content: "\e624";
}
